*{
  scroll-behavior: smooth;
}

body{
  position: relative;
  ul{
    background-color: rgba(1,1,1,0);
    margin: 0;
    padding: 0;
    position: fixed;
    list-style-type: none;
    z-index: 1;
    top: 50%;
    right: 5%;
    width: 2%;
    li{
      width: 30px;
      height: auto;

      a{
        height: 30px;
        border-radius: 50%;
        color: red;
        display: block;
        text-decoration: none;
        padding: 10%;
        div{
          width: 60%;
          height: 60%;
          background-color: gray;
          border-radius: 50%;
          margin: 0 auto;
        }
      }
      a:hover{
        background-color: gray;
      }
      a.activate{
        background-color: gray;
      }
    }
  }

  main{
    background-color: #1b1e21;
    scroll-snap-type: y mandatory;
    position: relative;
    height: 100%;
    overflow-y: scroll;
    .container-fluid{
      position: relative;
      padding: 5em;
      min-height: 100vh;
      overflow: hidden;
      scroll-snap-align: center;
    }
    .con1{
      background-color: black;
      background-image: url("./img/sociopath.png");
      background-attachment: fixed;
      background-position: left;
      background-repeat: no-repeat;
      background-size: 1000px 800px;
    }
    .con2{
      background-color: red;
    }
    .con3{
      background-color: yellow;
    }
  }
}


















